<footer class=" bnav bg-white text-center fixed-bottom">
<div class="ficons">
  <a href=""><i class="fa-solid fa-house fa-2xl"></i></a>
  <a href=""><i class="fa-solid fa-wallet fa-2xl"></i></a>
  <a href=""><i class="fa-solid fa-sliders fa-2xl"></i></a>
  <a href=""><i class="fa-solid fa-gear fa-2xl"></i></a>
</div>
  <div class="ficontext">
    <span class="text home">Home</span>
    <span class="text">Voucer</span>
    <span class="text">Wallet</span>
    <span class="text">Settings</span><span></span>
  </div>
</footer>
