
<ul class="nav justify-content-end sticky-top">
  <span class="back"> <a routerLink="/product"> <i class="fa-solid fa-lg fa-chevron-left"></i></a></span>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class=" icons fa-lg fa-regular fa-heart"></i></a>
  </li>
  <li class="nav-item">
   <a class="nav-link" href="#"><i class=" icons fa-lg fa-sharp fa-solid fa-share-nodes"></i></a>
  </li>
  <li class="nav-item">
   <i class="fa badge" style="font-size:24px" value=1>&#xf290;</i>
  </li>
</ul>

<div class="image1">
  <div>
    <img class="img1" src="assets/shirt1.jpg" alt="" width="400" height="300">
  </div>
  <div class="simg">
    <div class="image2">
    <a href=""><img class="img2" src="assets/shirt1.jpg" alt=""></a>
  </div>
  <div class="image2">
    <a href=""><img class="img2" src="assets/shirt1.jpg" alt=""></a>
  </div>
  <div class="image2">
    <a href=""><img class="img2" src="assets/shirt1.jpg" alt=""></a>
  </div>
  <div class="image2">
    <a href=""><img class="img2" src="assets/shirt1.jpg" alt=""></a>
  </div>
  </div>
</div>

<div>
  <h3>Essential men short sleev <br> crew-neck t-shirt</h3>
</div>

<div class="section1">
  <span><h6><i class="fa-regular fa-star"></i> 4.9 Rating</h6></span>
  <span><h6 class="star">2.3k+ Reviews</h6></span>
  <span><h6>2.9k+ Sold</h6></span>
</div>

<div class="review">
  <span ><a class="about" href="">About Item</a></span>
  <span><a href="">Reviews</a></span>
</div>
<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 50%"></div>
</div>

<div class="other">
  <span><h6>Brnad: <span class="sec">ChArmkpR</span></h6></span>
  <span><h6>Color: <span class="sec">Aprikot</span></h6></span>
</div>
<div class="other">
  <span><h6>Category: <span class="sec">Casual Shirt</span></h6></span>
  <span><h6>Material: <span class="sec">Polyster</span></h6></span>
</div>
<div class="other">
  <span><h6>Arival: <span class="sec">New</span></h6></span>
  <span><h6>Heavy: <span class="sec">200gm</span></h6></span>
</div>

<div>
  <h2 class="desc">Description</h2>
   <span  class="desc">Description</span>
   <ul>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, et.
    </li>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, et.
    </li>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, et.
    </li>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, et.
    </li>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, et.
    </li>
    <li>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, et.
    </li>
   </ul>
</div>

<nav class="nav footer fixed-bottom">
  <span class="rs" >Total Price <h1 class="price">$18.00</h1></span>
  <button class=" bags btn btn-success text-white me-md-2" type="button"><i id="cart" class=" fa-lg fa-solid fa-bag-shopping"></i> 1</button>
  <button class=" buy btn btn-dark" type="button">Buy Now</button>
</nav>
